<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script th:src="@{/js/main.js}"></script>
</head>
<body onload="load()">
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse header">
        <div class="container-fluid menu-padding">
            <a class="navbar-brand" href="#"><p class="brand text-center"><strong>Remote Doctor</strong></p></a>
            <div sec:authorize="isAuthenticated()">
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <a th:href="@{/client/feed}" th:class="${activeTab == 'feed'} ? 'btn btn-info btn-lg btn3d margin-top active'
                        : 'btn btn-info btn-lg btn3d margin-top'" role="button"><span th:utext="#{feed}"></span></a>
                        <a th:href="@{/client/doctors}" th:class="${activeTab == 'doctors'} ? 'btn btn-info btn-lg btn3d margin-top active'
                        : 'btn btn-info btn-lg btn3d margin-top'" role="button"><span th:utext="#{doctors}"></span></a>
                        <a href="#" th:class="${activeTab == 'messages'} ? 'btn btn-info btn-lg btn3d margin-top active'
                        : 'btn btn-info btn-lg btn3d margin-top'"><span th:utext="#{messages}"></span></a>
                        <a th:href="@{/client/cabinet}" th:class="${activeTab == 'cabinet'} ? 'btn btn-info btn-lg btn3d margin-top active'
                        : 'btn btn-info btn-lg btn3d margin-top'"><span th:utext="#{cabinet}"></span></a>
                        <a href="#" th:class="${activeTab == 'history'} ? 'btn btn-info btn-lg btn3d margin-top active'
                        : 'btn btn-info btn-lg btn3d margin-top'"><span th:utext="#{history}"></span></a>
                        <a href="#" th:class="${activeTab == 'about'} ? 'btn btn-info btn-lg btn3d margin-top active'
                        : 'btn btn-info btn-lg btn3d margin-top'"><span th:utext="#{about}"></span></a>
                        <a th:href="@{/logout}" th:class="'btn btn-warning btn-lg btn3d margin-top'"><span th:utext="#{log.out}"></span></a>
                    </ul>
                </div>

                <!--<form class="navbar-form navbar-left" role="search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control margin-top" th:placeholder="#{search}">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-primary margin-top" th:utext="#{search}"></button>-->
                <!--</form>-->
            </div>

            <ul class="nav nav-pills navbar-right" role="tablist" sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="btn btn-info btn-lg btn3d" th:utext="#{sign.in}"></a>
                <a th:href="@{/signup}" class="btn btn-info btn-lg btn3d  margin-right" th:utext="#{sign.up}"></a>

            </ul>
        </div>

        <div class="container-fluid lang-padding">
            <ul class="nav nav-pills navbar-right" role="tablist">
                <img id="en" class="lang" onclick="changLang()" th:src="@{/img/lang/eng.png}" alt="en">
                <img id="ua" class="lang margin-right" onclick="changLang()" th:src="@{/img/lang/ukr.png}" alt="ua">
            </ul>
        </div>

    </nav>
</div>

<div layout:fragment="content"></div>
</body>
</html>