<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remote Doctor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="y-hidden">
<div class="container-fluid bg">

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <p class="header text-center"><strong>Remote Doctor</strong></p>
            <!--form start-->
            <form th:action="@{/login}" method="post" class="form-container">
                <h1 class="text-center form-header" th:utext="#{sign.in}"></h1>
                <div class="form-group">
                    <label class="form-label" for="username" th:utext="#{username}"></label>
                    <input type="text" class="form-control form-field" name="username" id="username" th:placeholder="#{username}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="password" th:utext="#{password}"></label>
                    <input type="password" class="form-control form-field" name="password" id="password" th:placeholder="#{password}">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-block submit-btn" th:utext="#{sign.in}"></button>
            </form>
            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</body>
</html>